<!-- This page is for admin users to add new books to the database -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>
<body>
    <div class = "bookshelf"></div>

<form action="/books" method="POST" id="auth_form">
    <div class="title">
        <label for="title"><b>Title</b></label>
    </div>
        <input type="text" id="title" placeholder="Enter Title" name="title" required>
    
    <div class="author">
    <label for="auth"><b>Author</b></label>
    </div>
    <input type="author" id="author"  placeholder="Enter Author" name="author" required>

    <div class="summary">
    <label for="smry"><b>Summary</b></label>
    </div>
    <input type="summary" id="summary"  placeholder="Enter Summary" name="summary" required>

    <div class="status">
    <label for="status"><b>Summary</b></label>
    </div>
    <input type="status" id="status"  placeholder="Enter Status" name="status" required>

    

    <button type="submit" class="submitbtn">Submit</button>
    

</form>

</body>
</html>