<!-- This page is the default page after login --> 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>
<body>
    <div class = "bookshelf"></div>


    <h1>Welcome <%= message %> </h1>

    <form action="/logout" method="POST" id="logout">
      
        <button type="submit" class="cancelbtn">Logout</button>
        

    </form>

</body>

<footer>
    <span class = "support"><a href="support">Support</a></span><br>
    <span class="books"><a href="books">Admin</a></span>
</footer>
</html>