<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
   
</head>
<body>
    <div class = "bookshelf"></div>

    <div class = "signIn">Sign In</div>

    <form action="action_page.php" method="post">
        <div class="username">
            <label for="uname"><b>Username</b></label>
        </div>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
        <div class="password">
        <label for="psw"><b>Password</b></label>
        </div>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label class="remember">
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>

        <button type="button" class="cancelbtn">Submit</button>

        
        <span class="psw"><a href="#">Forgot password?</a></span>
        <span class="newacct"><a href ="userRegistration"> New user? Click here to create an account</a></span>
        
    </form>
</body>
</html>