<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Group 1</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>

    <div class = "bookshelf"></div>

    <h1>Burns and Mobile</h1>


    <form id="auth_form">
        <div class="username">
            <label for="uname"><b>Username</b></label>
        </div>
            <input type="text" id="uname" placeholder="Enter Username" name="uname" required>
        
        <div class="password">
        <label for="psw"><b>Password</b></label>
        </div>
        <input type="password" id="psw"  placeholder="Enter Password" name="psw" required>

        <label class="remember">
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>

        <button type="submit" class="cancelbtn">Submit</button>
        

    </form>

    <span class="psw"><a href="#">Forgot password?</a></span>
    <span class="register"><a href="register">Sign Up</a></span>

        <script>

            const form = document.getElementById('auth_form')
            form.addEventListener('submit', validateUser)

           async function validateUser(event) {
                event.preventDefault();
                const username = document.getElementById('uname').value
                const password = document.getElementById('psw').value

                const result = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username,
                        password
                    })
                

                }).then((res) => res.json())
            }

        </script>
</body>
</html>