<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1</title>
    <link rel="stylesheet" type="text/css" href="/css/search.css" />
</head>
<body>
    <div class = "bookshelf">
    <div class="wrapper">
        <h1>Search Results</h1>
        
        <div class="cards_wrap">   
                
                 <% BookResults.forEach( function (property) { %>
                 
                    <div class="card_item">  
                    <div class="card_inner">
                         <div class="image">
                            BookImage-coming soon... 
                        </div>
                        <div class="title">   
                        Title: <%= property.title %>
                        </div> 
                        <div class="author">
                        Author: <%=property.author %>
                        </div>
                        <!-- 
                        <div class="summary">
                        Summary:<%=property.summary %>
                        </div> 
                        -->
                     </div>
                    </div> 
                 <% }) %>

                
            </div>

    </div>
    </div>
    <span class="return"><a href="home">Return to Home Page</a></span>
</body>

<footer>
    <span class="return"><a href="home">Return to Home Page</a></span>
</footer>

</html>