<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1</title>
    <link rel="stylesheet" type="text/css"  href = "userRegistration.css"/>

</head>
<body>
    <form action="action_page.php" method="post">
        <div class = "bookshelf"></div>

        <div class = "register" >New User Registration</div>

        <div class = "newUser">
            <labor for = "newUname"></labor><b>Create a new username:</b></label>
        </div>
            <input type="text" placeholder="Enter New Username" name="newUname" required>

        <div class="newPassword">
            <label for="newPsw"><b>Create a new password:</b></label>
        </div>
            <input type="password" placeholder="Enter New Password" name="newPsw" required>

        <div class="conPassword">
            <label for="conPsw"><b> Confirm your password: </b></label>
        </div>
        <div class = "conPassInput">
            <input type="password" placeholder="Confirm Password" name="conPsw" required>
        </div>

        <button type="button" class="cancelbtn">Submit</button>

    </form>

</body>
</html>