/* h1 is hard coded to test Home page and 404, will change*/
h1{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bookshelf{
    height: 600px;
    width:400px;
    border-radius: 5px;
    background-color: #967969;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #5C4033;
}
/* The "logout" text */
span.psw {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    }