/* h1 is hard coded to test Home page and 404, will change*/
h1{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

/* Link Styles */
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: underline;}

/* Bookshelf background (brown box) */
.bookshelf{
    height: 600px;
    width:400px;
    border-radius: 5px;
    background-color: #967969;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #5C4033;
}

/* Style and position for search bar */
.search{
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: auto;
    padding: 10px 18px;
    border-radius: 30px;
    background-color: rgb(236, 231, 231);
}

/* Style and position for the logout button (red) */
.logoutbtn {
width: auto;
padding: 10px 18px;
border-radius: 30px;
background-color: rgb(170, 4, 4);
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
position: fixed;
border: none;
cursor: pointer;
}

/* Style for Search Button at top of page */
.srchbtn {
    width: auto;
    padding: 10px 18px;
    border-radius: 30px;
    background-color: rgb(236, 231, 231);
    top: 38%;
    left: 83%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: none;
    cursor: pointer;

}

/* Style and Position for search option drop down */
.searchOption {
    position: fixed;
    top: 30%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 10px 18px;
    border-radius: 30px;
    background-color: rgb(236, 231, 231);
}

/* Positions search bar field*/
input[type=search]{
    position: fixed;
    top: 30%;
    left: 68%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 10px 18px;
    border-radius: 30px;
    background-color: rgb(236, 231, 231);
}

/* Positions support link*/
.support {
    position: fixed;
    top: 82%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* Positions admin link*/
.books {
    position: fixed;
    top: 82%;
    left: 40%;
    transform: translate(-50%, -50%);
}