/* h1 is hard coded to test Home page and 404, will change*/
h1{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

h3{
    color: rgb(241, 245, 16);
    inline-size: 200px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Link Styles */
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: underline;}

/* Bookshelf background (brown box) */
.bookshelf{
    height: 600px;
    width:400px;
    border-radius: 5px;
    background-color: #967969;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #5C4033;
}

/* Style and position for search bar */
.search{
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: auto;
    padding: 10px 18px;
    border-radius: 30px;
    background-color: rgb(236, 231, 231);
}

/* Style and position for the logout button (red) */
.logoutbtn {
width: auto;
padding: 10px 18px;
border-radius: 30px;
background-color: rgb(170, 4, 4);
top: 90%;
left: 80%;
transform: translate(-50%, -50%);
position: fixed;
border: none;
cursor: pointer;
}

/* Style for Search Button at top of page */
.srchbtn {
    width: auto;
    padding: 10px 18px;
    border-radius: 30px;
    background-color:rgb(150, 176, 150);
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: none;
    cursor: pointer;

}

/* Style and Position for search option drop down */
.searchOption {
    position: fixed;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    background-color: rgb(236, 231, 231);
}

/* Positions search bar field*/
input[type=search]{
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgb(236, 231, 231);
}

/* Positions support link*/
.support {
    position: fixed;
    top: 90%;
    left: 54%;
    transform: translate(-50%, -50%);
}

/* Positions admin link*/
.books {
    position: fixed;
    top: 90%;
    left: 34%;
    transform: translate(-50%, -50%);
}

.favorite{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgb(245, 239, 82);
    cursor: pointer;
}

.or{
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.searchText{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}