/* h1 is hard coded to test Home page and 404, will change*/
h1{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Positions home link*/
.books {
    position: fixed;
    top: 85%;
    left: 46%;
    transform: translate(-50%, -50%);
}

/* Positions support link*/
.support {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Link Styles */
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: underline;}

.bookshelf{
    height: 600px;
    width:400px;
    border-radius: 5px;
    background-color: #967969;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #5C4033;
}



/* Set a style for all buttons */
button {
position: fixed;
top: 87%;
left: 58%;
transform: translate(-50%, -60%);
border: none;
cursor: pointer;
}

/* Extra style for the logout button (red) */
.logoutbtn {
width: auto;
padding: 10px 18px;
border-radius: 30px;
background-color: rgb(170, 4, 4);
}
