/* Positons and Styles "Search Results" text*/
.header{
    text-align: center;
    color: #fff;
    padding-top: 1em;
}

h3{
    color: rgb(241, 245, 16);
    font-weight: bold;
    text-align: center;

}

/* Positons and Styles return to homepage link*/
.return{
    text-align: center;
    text-decoration: none;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Link Styles */
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: underline;}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    background: #967969;
}

/*Ordered List Results*/
.wrapper .header{
    width: 100%;
    height: 50px;
     background:#967969;
     color: #fff;
     text-align: center;
     display: flex;
     justify-content: center;
     font-size: 20px;
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: 5px;
     font-weight: 900;
}

.cards_wrap{

    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards_wrap .card_item{
    
    padding: 15px 25px;
    width: 25%;
    display: flex;
}

.cards_wrap .card_inner{
    background : #eeeff4;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 315px;
    width: 100%;
}

.cards_wrap .card_inner .image img{
    /* width: 80px;
    height: 80px; */
    margin-bottom: 5px;
    color:#7b8ca0;
    font-size: 15px;
    font-weight: 100;
}

.cards_wrap .card_inner .title{
    color: #967969;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_inner .author{
    color:#56606b;
    font-size: 13px;
    font-weight: 100;
    margin: 5px 0 10px;
}

.cards_wrap .card_inner .summary{
    font-size: 14px;
    line-height: 24px;
    color: #7b8ca0;
    max-height: 100px;
    overflow: auto;
    
}

@media screen and (max-width: 1024px){
    .cards_wrap .card_item{
        width: 33%;
    }
}

@media screen and (max-width: 768px){
    .cards_wrap .card_item{
        width: 50%;
    }
    .wrapper .header{
        font-size: 16px;
        height: 60px;
    }
}

@media screen and (max-width: 568px){
    .cards_wrap .card_item{
        width: 100%;
    }
    .wrapper .header{
        font-size: 14px;
    }
}

