.bookshelf{
    height: 600px;
    width:400px;
    border-radius: 5px;
    background-color: #967969;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #5C4033;
}

.register{
    font-size: 35px;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newUser{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newPassword{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conPassword{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conPassInput{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=password]{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: none;
    cursor: pointer;
    background-color: green;
    width: auto;
    padding: 10px 18px;
    }